<h4>Login</h4>
<hr>
<form autocomplete="off" (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="form-signin" >
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="user"
               placeholder="Nombre"
               required
               minlength="3"
               [class.is-invalid]="username.invalid && username.touched"
               ngModel
               #username="ngModel">
               <small *ngIf="!validUser" 
                    class="form-text text-danger">Usuario incorrecto</small>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col-8">
  
            <input class="form-control"
                 type="password"
                 name="password"
                 required
                 [class.is-invalid]="password.invalid && password.touched"
                 placeholder="Contraseña"
                 ngModel
                 #password="ngModel"
                 >
            <small *ngIf="!validPass" 
                 class="form-text text-danger">Contraseña incorrecta</small>
        </div>
      </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
