.footer {
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    p {
        padding: 50px;

        span {
            font-size: 20px;
            font-weight: bold;
        }
    }
}